<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842852683866-5m1e5l7gchi6d5rcpvae0bspfm7c2gbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842852683866-5m1e5l7gchi6d5rcpvae0bspfm7c2gbi</string>
	<key>API_KEY</key>
	<string>AIzaSyBalOFqkPnkuQZU6Ok0ZpA_dAkDW7h3XWA</string>
	<key>GCM_SENDER_ID</key>
	<string>842852683866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hr.etranet.loyalty</string>
	<key>PROJECT_ID</key>
	<string>push-notification-flutte-c11ab</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-flutte-c11ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:842852683866:ios:e7bbd3354dc54683238863</string>
	<key>DATABASE_URL</key>
	<string>https://push-notification-flutte-c11ab.firebaseio.com</string>
</dict>
</plist>
